body{
    background: #999;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    
}
.inputs__Container{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
    padding:1rem
}
.inputs__Container input{
    margin-bottom: 1rem;
}
.inputs__Container span {
    margin-bottom:.2rem
}
select{
    width:20rem;
}
.selected{
    background: blue;
}